body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: brown;
    text-transform: uppercase;
}

section {
    width: 20em;
    height: 20em;
    display: flex;
    background-color: tomato;
    gap: 1px;
}

.box {
    margin: 0.5px;
    width: 4.9em;
    height: 4.9em;
    background-color: bisque;
    text-align: center;
    color: rgb(173, 64, 45);
}

.absolute .box:nth-child(1) {
    position: absolute;
    top: 20em;
}

.relative .box:nth-child(2) {
    position: relative;
    top: 10em;
}

.fixed .box:nth-child(3) {
    position: fixed;
}