* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Roboto';
    font-weight: 400;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    background-color: #FFC297;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8%;
    height: 100%;
    gap: 8%;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 40%;
    height: 100%;
    gap: 10%;
}
button:hover {
    color: white;
    background-color: #FF7008;
}
button {
    background-color: #ffffff;
    border: solid #FF7008;
    padding: 8px 40px 8px 40px;
    border-radius: 0.5rem;
    color: #FF7008;
    font-size: 1.5em;
    font-weight: lighter;
}

nav a img {
    width: 100%;
}

.gap-button{
    display: flex;
    flex-direction: row;
    gap: 6%
}
header > a:nth-child(3) {
    width: 30%;
    height: max-content;
    padding: 2.5em;
    border-radius: 100%;
    margin-bottom: 3em;
}

header > a:nth-child(3):hover {
    background-color: #FF7008;
}

header > a:nth-child(3) img {
    width: 100%;
}

.settings > img {
    width: 10%;
}

.between {
    width: 0.1%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.name > div {
    width: 47%;
}

.name > div > input {
    width: 100%;
}

form > .name ,form > .address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.address > div > input {
    width: 100%;
}

.address > div{
    width: 47%;
}

form > .name > div ,form > .address > div {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 2rem;
}

form input {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.5rem;
}

#settings > .nav {
    height: 100%;
}

#logo {
    margin-top: 20%;
    width: 60%;
    height: 10%;
}

#logo img {
    width: 100%;
}

#settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 8%;
}

#settings > .nav {
    width: 22%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8%;
}

#settings > .nav > .s--place {
    display: flex;
    height: 15%;
    align-items: center;
    margin-left: 8%;
    color: black;
}

#settings > .nav > .s--place > p {
    font-size: 400%;
    margin-left: 3%;
}

#settings > .nav > .settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 300%;
    color: grey;
    gap: 10%;
    margin-left: 18%;
    align-items: center;
}

#settings > .nav > .settings:hover {
    color: black;
}

#settings > .edit-profile {
    width: 68%;
    background-color: #ffffff;
}

#settings > .edit-profile > div {
    margin: 5% 10% 0 15%;
}

.row {
    width: 3em;
    height: 3em;
    float: left;
    box-shadow: -8px 8px 0 black;
    transform: rotate(45deg);
}

.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 500%;
}

.perfil > img {
    width: 15%;
}

.last {
    background-color: #FFC297;
    display: flex;
    flex-direction: row;
    width: 9%;
    height: min-content;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 0.5%;
}

.last a:nth-of-type(2) img{
    width: 85%;
}

.last a:nth-of-type(2n - 1) {
    padding: 13%;
    background-color: grey;
    border-radius: 100%;
}

