* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Roboto';
    font-weight: 400%;
    text-decoration: none;
    font-size: 95%;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    background-color: #FFC297;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8%;
    height: 100%;
    gap: 8%;
}

nav {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    gap: 10%;
  }

nav a img {
    width: 100%;
}

header > a:nth-child(3) {
    width: 30%;
    height: 5%;
    padding: 10%;
    border-radius: 100%;
    margin-bottom: 10%;
}

header > a:nth-child(3):hover {
    background-color: #FF7008;
}

header > a:nth-child(3) img {
    width: 100%;
}

.settings > img {
    width: 10%;
}

.between {
  width: 1%;
  height: 100%;
  background-color: #858585;
  margin-left: 4%;
}

main{
  margin-left: 20%;
  font-size: 200%;
}

h1{
  font-size: 250%;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.profile img{
  height: 120px;
}

.input-container{
  display: flex;
  
}

input{
  margin-right: 60px;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px;
  color: #858585;
}

.input-box{
  margin-top: 5% ;
}

.input-boxito input{
  width: 89%;
}

#settings > .nav {
    height: 100%;
}

button{
  border-radius: 10px;
  border-color: #FF852C;
  background-color: white;
  color: #FF852C;
  padding: 5px 30px;
  margin-right: 5%;
  border: solid 2px;
}

button:hover{
  color: #fff;
  background-color: #FF852C;
}

form{
  width:100%
}

#logo {
    margin-top: 20%;
    width: 60%;
    height: 10%;
}

#logo img {
    width: 100%;
}

#settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 8%;
}

#settings > .nav {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 8%;
    margin-top: 2%;
}

#settings > .nav > .s--place {
    display: flex;
    height: 15%;
    align-items: center;
    margin-left: 24%;
    color: black;
}

#settings > .nav > .s--place > p {
    margin-left: 3%;
    font-size: 300%;
}

#settings > .nav > .settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 200%;
    color: grey;
    gap: 10%;
    margin-left: 18%;
    align-items: center;
}

#settings > .nav > .settings:hover {
    color: black;
}

#settings > .edit-profile {
    width: 68%;
    background-color: #FF7008;
}

#settings > .edit-profile > div {
    margin: 5% 10% 0 15%;
}

.row {
    width: 24px;
    height: 24px;
    float: left;
    box-shadow: -8px 8px 0 black;
    transform: rotate(45deg);
}

.last {
    display: flex;
    flex-direction: row;
    width: 9%;
    height: min-content;
    align-items: center;
    gap: 10%;
    padding: 0.5%;
    margin-left: 10%;
}

.last a:nth-of-type(2) img{
    width: 85%;
}

.last a:nth-of-type(2n - 1) {
    height: 9%;
    background-color: grey;
    border-radius: 100%;
}

