* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Roboto';
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    background-color: #FFC297;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8%;
    height: 100%;
    justify-content: space-between;
}

header > a:hover {
    background-color: #FF7008;
    padding: 1em;
}

nav ,header a{
    position: relative;
}

header > a:nth-child(1) {
    width: 60%;
    height: 12%;
    margin-top: 2.5em;
    background-color: aliceblue;
}

header > a:nth-child(3) {
    width: 39%;
    height: 8%;
    margin-bottom: 4em;
}

nav {
    display: flex;
    flex-direction: column;
    top: -5em;
    gap: 4em;
}

h1 {
    font-size: 4em;
}

nav > a > img {
    scale: 1.5;
}

header > a > img {
    width: 100%;
    height: 100%;
}
header > a:nth-child(3) > img:hover {
    background-color: #FF7008;
    border-radius: 50%;
}

#settings {
    background-color: aliceblue;
    margin-left: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#settings > .nav {
    width: 35em;
    height: 100vh;
}

.edit-profile {
    background-color: #FF7008;
    width: 80%;
}

.edit-profile > div {
    border: solid 1em;
    width: 66rem;
    height: 100vh;
    padding-left: 5rem;
    padding-top: 4rem;
}

.edit-profile > div > form {
    background-color: cyan;
    width: 60em;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-profile > div > .perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}