body {
    display: flex;
    align-items: center;
    width: 100vh;
    height: 100vh;
    background-color: antiquewhite;
    justify-content: center;
    padding-left: 20em;
}

h2 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color:#B2A4B3;
    font-size: 3em;
}

.exercises {
    border-style: dashed;
    border: solid #B1C49C;
    padding: 1em;
    margin: 1em;
}

/*position*/
.position {
    display: flex;
    width: 30rem;
    height: 30rem;
    padding-top: 1em;
    background-color: rgb(190, 179, 179);
}

.box {
    width: 10em;
    height: 10em;
    background-color: tomato;
}

.on {
    background-color: yellow;
    position: relative;
    margin-top: 11em;
}

.hidden {
    position: relative;
    visibility: hidden;
}

.tw {
    background-color: green;
    position: absolute;
    margin-top: 21em;
    margin-left: 5em;
}

.th {
    background-color: red;
    position: relative;
}
/*pseudoclass*/
button {
    width: 5em;
    height: 5em;
    max-width: 20em;
    max-height: 20em;
    border: solid 0.5em #B1C49C;
    border-radius: 50%;
    font-size: 3em;
    background: none;
    color: #B342BE;
    font-family: monospace;
    text-transform: uppercase;
}
.active:active {
    background-color: #E88763;
    color: #B1C49C;
    border-color: #B2A4B3;
}

.hover:hover {
    background-color: #E88763;
    color: #B1C49C;
    border-color: #B1C49C;
}
/*z-index*/
.zindex {
    width: 30em;
    height: 30em;
    display: flex;
}

.one {
    background-color: rgb(253, 166, 5);
    z-index: 1;
}

.two {
    background-color: rgb(83, 221, 217);
    margin-top: 3em;
    margin-left: 3em;
    z-index: 2;
}

.thr {
    background-color: rgb(1, 157, 1);
    margin-top: 6em;
    margin-left: 6em;
    z-index: 3;
}

.z {
    position: absolute;
}