* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'libre franklin' ;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F5F5F5;
}

a {
    color: black;
}
/*16/3  8 4 4*/

header {
    height: 10rem;
    align-items: center;
}

nav {
    display: flex;
    gap: 5%;
}

header > div {
    display: flex;
    gap: 20%;
}

main {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    'header   main      menu2   aside' 
    'header   header2   menu    aside'

    'header1  menu1     menu22  main1'
    'header22 menu1     menu22  aside1'

    'asid1     head2     men   head' 
    'asid1     men2      mai1  head'
    ;
    column-gap: 0.2%;
    row-gap: 0.2%;

}

main div img {
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
}

.header img:hover {
    opacity: 0.5;
}

.header .selector {
    display: flex;
    visibility: hidden;
}

.header .selector:hover {
    visibility: visible;
    color: #E27D60;

}

.menu {
    grid-area: menu;
}
.main {
    grid-area: main;
}
.aside {
    grid-area: aside;
}

.header1 {
    grid-area: header1;
}
.header22 {
    grid-area: header22;
}
.menu1 {
    grid-area: menu1;
}
.menu22 {
    grid-area: menu22;
}
.main1 {
    grid-area: main1;
}
.aside1 {
    grid-area: aside1;
}


.head {
    grid-area: head;
}
.head2 {
    grid-area: head2;
}
.men2 {
    grid-area: men2;
}
.men {
    grid-area: men;
}
.mai1 {
    grid-area: mai1;
}
.asid1 {
    grid-area: asid1;
}







footer {
    background-color: #303030;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-between;
    padding: 1rem;
}

footer > section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
    align-items: center;
    padding: 6% 0%;
}

footer > section > div {
    width: auto;
    font-size: 60%;
    display: flex;
    flex-direction: column;
}

footer > section > div > h2 {
    color: #E27D60;
}

footer > section > div > a {
    color: white;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #E6E6E6;
    opacity: 0.5;
    font-size: 60%;
    margin-bottom: 1%
}

header ,main ,footer{
    padding: 0 18% 0 18%;
}

a:hover {
    color: #E27D60;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: #E27D60;    ;
}

.logo {
    font-size: 2rem;
    font-family: inter;
}

.address {
    margin-left: 18%;
    padding-right: 18%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    height: 13rem;
    align-items: center;
    justify-content: center;
}

.sections-of-main {
    display: flex;
    justify-content: center;
    gap: 0.5%;
    height: 2rem;
    margin-top: 4rem;
}

.address > p {
    font-size: 0.65em;
    opacity: 0.3;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.social-media > img {
    width: 15;
    height: 15%;
    display: flex;
    margin: 4%;
}

.social-media > img:nth-child(1) {
    height: 2.5em;
}

/*--services*/
.main--services {
    height: fit-content;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #E6E6E6 68%, white 35% );
    height: auto;
    margin-top: 4rem;
    padding: 3% 18% 3% 18%;

}

.main--services > .information--main {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    padding: 10% 0% 10% 0%;
}

.title {
    font-family: 'Libre Franklin';
    padding:3% 10% 3% 10% ;
    font-size: 250%;
    color: #E27D60;
}

.definition {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 140%;
    line-height: 23px;
    text-align: right;
    padding:0% 10% 0% 0% ;
    opacity: 0.5;
}

.description {
    text-transform: uppercase;
    font-weight: lighter;
}

.main--services > .information--main > p:nth-child(3) {
    margin-bottom: 4%;
}

.main--services > .img--main {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 'up-left up-right' 'down down';
    column-gap: 1%;
    row-gap: 1%;
}

.up-left {
    grid-area: up-left;
}

.up-right {
    grid-area: up-right;
}

.down {
    grid-area: down;
}

/*-treatments*/
.treatments--services {
    margin-top: 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 18% 3% 18%;
}

.treatments--services p {
    font-family: 'Work sans';
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 200%;
}

.treatments--services h2 {
    text-transform: capitalize;
    font-weight: lighter;
    font-weight: 300;
}

.treatments {
    display: flex;
    justify-content: center;
    background-color: #303030;
    width: 100%;
}

.treatments > img {
    width: 100%;
    background-color: #E27D60;
}

/*
    discount-offer
*/

.banner--services {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    height: 40rem;
    background: url("./images/Rectangle 96.png") no-repeat center ;
    background-size: cover;
}

.info--banner {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.info--banner > div {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
}

.info--banner > div > h2 {
    color: #E27D60;
    font-size: 400%;
    margin-bottom: 4%;
}

#discount-description {
        color: #E6E6E6;
        font-size: 1.7em;
}

.info--banner > div > h2 > span {
    color: #E6E6E6;
}

.info--banner > p {
    color: #E6E6E6;
    width: 40%;
    height: 100%;
    font-size: 900%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/*
    trusted service
    img1.1-trusted--services
    img1.2-trusted--services
    left-text-trusted--services
    right-text-trusted--services
    img2-trusted--services
*/

.trusted--services {
    padding: 5.5% 18%;
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:    'img1_1-trusted--services img1_2-trusted--services right-text-trusted--services right-text-trusted--services'
                            'left-text-trusted--services left-text-trusted--services img2-trusted--services img2-trusted--services'
                            'button-trusted--services button-trusted--services button-trusted--services button-trusted--services';
    gap: 0;
    height: max-content;
}

.img1_1-trusted--services {
    grid-area: img1_1-trusted--services;
    background: url("./images/Rectangle 53.png") no-repeat center;
    background-size: cover;
    height: 35em;
}

.img1_2-trusted--services {
    grid-area: img1_2-trusted--services;
    background: url("./images/Rectangle 54.png") no-repeat center;
    background-size: cover;
    height: 35em;

}

.left-text-trusted--services {
    grid-area: left-text-trusted--services;
    width: fit-content;
    line-height: 1.8em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
    padding: 4% 0%;
}

.right-text-trusted--services {
    grid-area: right-text-trusted--services;
    margin-left: 16%;
    padding: 10% 0% 10% 0%;
    gap: 3%;
    display: flex;
    flex-direction: column;
    height: 24.5em;
    font-size: 115%;
}

.right-text-trusted--services > p {
    line-height: 25px;
}

.img2-trusted--services {
    grid-area: img2-trusted--services;
    background: url("./images/Rectangle 61.png") no-repeat;
    background-size: cover;
    margin-left: 5%;
    height: 29.5em;
}

.title {
    padding: 10px 0px 10px 0px;
}

.definition {
    text-align: left;
}

.description {
    text-align: left;
}

.button-trusted--services {
    grid-area: button-trusted--services;
    background-color: #303030;
    color: #E6E6E6;
    display: flex;
    justify-self: center;
    text-align: center;
    align-self: center;
    font-size: 200%;
    padding: 0.5em 1em; 
    margin: 4%;
}

/*
    everyone deserves good health.
*/

.everyone--services {
    background-color: #E6E6E6;
    padding: 4% 18%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:    'text-everyone--services        text-everyone--services        text-everyone--services        img-everyone--services         img-everyone--services         img-everyone--services'
                            'comment_one-everyone--services comment_one-everyone--services comment_two-everyone--services comment_two-everyone--services comment_thr-everyone--services comment_thr-everyone--services'
                            'pages-everyone--services       pages-everyone--services       pages-everyone--services       pages-everyone--services       pages-everyone--services       pages-everyone--services';
    row-gap: 10%;
    padding-bottom: 12em;
    height: max-content;
}
.text-everyone--services {
    grid-area: text-everyone--services;
}
.img-everyone--services {
    grid-area: img-everyone--services;
    width: 10em;
}
.comment_one-everyone--services {
    grid-area: comment_one-everyone--services;
}
.comment_two-everyone--services {
    grid-area: comment_two-everyone--services;
}
.comment_thr-everyone--services {
    grid-area: comment_thr-everyone--services;
}
.pages-everyone--services {
    grid-area: pages-everyone--services;
    display: flex;
    justify-content: center;
}

.pages-everyone--services > img {
    width: 18%;
}

/*
    article
*/

.paddings--article {
    padding: 3% 18%;
}

.faces--article {
    display: flex;
    justify-content: center;
}

.text-angelina--article {
    background-color: #E8A87C;
    padding: 3% 10%;
    width: 42%;
}

.angelina--article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.angelina-profile--article {
    display: flex;
    flex-direction: row;
}

.angelina--article > div:nth-of-type(2) {
    display: flex;
    width: 62%;
}

/*
other-post--article
other-posts--article
fimage-other--article
simage-other--article
timage-other--article
*/

.other-post--article {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'other-posts--article other-posts--article other-posts--article' 
'fimage-other--article simage-other--article timage-other--article  ';
    column-gap: 3%;
}

.other-posts--article {
    grid-area: other-posts--article;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-posts--article > p  {
    font-weight: lighter;
    font-size: 1.5em;
    opacity: 0.5;
    margin-bottom: 0.6em;
    margin-top: 5em;
}

.other-posts--article > h2 {
    color: #E27D60;
    font-size: 3em;
    font-family: 'Libre Franklin';
    margin-bottom: 01em;
}

.fimage-other--article {
    grid-area: fimage-other--article;
}

.simage-other--article {
    grid-area: simage-other--article;
}

.timage-other--article {
    grid-area: timage-other--article;
}


.articles-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.articles-article > .date-o-p--article {
    font-weight: lighter;
    opacity: 0.5;
}

.articles-article > .tittle-o-p--article{
    color: #E27D60;
    font-size: 1.6em;
    font-weight: bolder;
}

.articles-article > a {
    font-weight: bolder;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.background-image_before-footer--article {
    background: url("./images/Rectangle 64.png") no-repeat;
    background-size: cover;
    height: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.paddings-before_footer--article {
    padding: 0% 18% 0% 18%;
}

.join-our-newssellers {
    display: flex;
    flex-direction: column;
    color: #E6E6E6;
    gap: 10px;
    width: 19%;
    margin: 3%;
}

.join-our-newssellers > p {
    font-weight: lighter;
}

#get45 {
    color: #E27D60;
}

#e-mail--article {
    width: 53em;
    padding: 2% 0% 2% 5%;
}

#suscribe--article {
    background-color: #303030;
    color: #E6E6E6;
    margin-left: 10%;
    padding: 2% 10% 2% 10%;
}

.form--article {
    display: flex;
    flex-direction: row;
}

.between_faces-a-description--article {
    margin: 3% 0% 3% 0%;
    width: 100%;
    height: auto;
}

.paddingzero {
    padding-left: 0;
    padding-right: 0;
}

.p1-gneral-white--about{
    color: white;
    font-size: 16px;
  }
  
  .p3-general--about{
    color: #303030;
  }
  
  .p3-general-white--about{
    color: white;
  }
  
  .p3-general-white--about > span{
    color: #E27D60;
  }
  
  .p6-general--about{
    color: #303030;
    font-size: 12px;
  }
  
  .h3-general-about{
    color: #E27D60;
    font-size: 36px;
  }
  
  .h3-general-black--about{
    color: #303030;
    font-size: 36px;
  }
  
  .h3-general-white--about{
    font-size: 36px;
    color: white;
  }
  
  .h6-general--about{
    color: #E27D60;
    font-size: 14px;
  }
  
  .first--about{
    display: grid;
    text-align: end;
    align-content: center;
    gap: 5%;
  }
  
  .second-about{
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: -webkit-center;
    gap: 14%;
    width: 205px
  }
  
  .third--about{
    display: grid;
    align-content: space-evenly;
  }
  
  .seventh--about{
    display: grid;
    align-content: space-evenly;
  }

  .seventh--
  
  
  .button-third--about{
    background-color: #303030;
    color: white;
    padding: 10px 40px;
    margin: auto;
    border-radius: 2px;
  }
  
  .button-fifht--about{
    background-color: #303030;
    color: white;
    padding: 10px 25px;
    margin: auto;
    border-radius: 2px;
    margin-top: 30px;
  }
  
  .button-third--about{
    background-color: #e6e6e6;
}
  
  
  .Button-form-fifth{
    width: 570px;
    height: 42px;
    left: 875px;
  
  }
  .button-nineth--about{
    background-color: #303030;
    color: white;
    padding: 1px 10px;
    border-radius: 2px;
  }

  .button-Doctor--about{
    background-color: #303030;
    color: white;
    padding: 10px 25px;
    margin: auto;
    border-radius: 2px;
    margin-top: 10%;
  }
  
  .Display-first--about{
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding: 3% 18% 3% 18%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #E6E6E6 68%, white 35% );
    padding-left: 0%;
  }
  
  .display-second-about{
    margin-top: 9%;
    padding: 3% 18% 3% 18%;
    gap: 9%;
    display: flex;
    justify-content: center
  }
  
  .Display-third--about{
    margin-top: 9%;
    display: flex;
    gap: 10%;
    padding: 3% 18% 3% 19%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #ffffff 35%, #e6e6e6 35%);
    padding-right: 0%;
  }
  
  .Display-fourth-0--about{
    margin-top: 9%;
    display: grid;
    justify-items: center;
    gap: 60%;
  }
  
  .Display-fourth--about{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .backgrounnd-fifth--about{
    margin-top: 9%;
    background-image: url(images/portfolio/Rectangle\ 64.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  
  .fifth-FormGap--about{
    -webkit-user-modify: read-write-plaintext-only;
  }
  
  
  .Display-fifht--about{
    margin-top: 9%;
    display: grid;
    justify-content: center;
  }
  
  .button-fifth--about{
    background-color: #303030;
    color: white;
    padding: 10px 40px;
    margin: auto;
    border-radius: 2px;
  
  }
  
  .Display-sixth--about{
    margin-top: 9%;
    display: flex;
    justify-content: center;
    gap: 5%;
    
  }
  
  .Display-seventh--about{
    margin-top: 9%;
    display: flex;
    gap: 10%;
    justify-content: center;
  }
  
  .Display-eight--about{
    margin-top: 9%;
    display: flex;
    gap: 2%;
    justify-content: center;
  }
  
  .Display-nineth--about{
    margin-top: 9%;
    display: flex;
    gap: 2%;
    background-image: url(images/portfolio/Rectangle\ 64\ -1.png);
    background-size: cover;
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
  }
  
  .nineth--about{
    -webkit-user-modify: read-write-plaintext-only;
    padding-top: 47px;
  }

  .pages-everyone--about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
  }

.Seventh-2-about{
    width: 29%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    text-align: end;
    justify-content: center;
}