* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'libre franklin' ;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: black;
}
/*16/3  8 4 4*/

header {
    height: 5rem;
    align-items: center;
}

nav {
    display: flex;
    gap: 5%;
}

header > div {
    display: flex;
    gap: 20%;
}

main {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    'header   main      menu2   aside' 
    'header   header2   menu    aside'

    'header1  menu1     menu22  main1'
    'header22 menu1     menu22  aside1'

    'asid1     head2     men   head' 
    'asid1     men2      mai1  head'
    ;
    column-gap: 0.2%;
    row-gap: 0.2%;

}

main div img {
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
}

.header img:hover {
    opacity: 0.5;
}

.header .selector {
    display: flex;
    visibility: hidden;
}

.header .selector:hover {
    visibility: visible;
    color: #E27D60;

}

.menu {
    grid-area: menu;
}
.main {
    grid-area: main;
}
.aside {
    grid-area: aside;
}



.header1 {
    grid-area: header1;
}
.header22 {
    grid-area: header22;
}
.menu1 {
    grid-area: menu1;
}
.menu22 {
    grid-area: menu22;
}
.main1 {
    grid-area: main1;
}
.aside1 {
    grid-area: aside1;
}


.head {
    grid-area: head;
}
.head2 {
    grid-area: head2;
}
.men2 {
    grid-area: men2;
}
.men {
    grid-area: men;
}
.mai1 {
    grid-area: mai1;
}
.asid1 {
    grid-area: asid1;
}




footer {
    background-color: #303030;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-between;
    padding: 1rem;
}

footer > section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
    align-items: center;
    padding: 6% 0%;
}

footer > section > div {
    width: auto;
    font-size: 60%;
    display: flex;
    flex-direction: column;
}

footer > section > div > h2 {
    color: #E27D60;
}

footer > section > div > a {
    color: white;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #E6E6E6;
    opacity: 0.5;
    font-size: 60%;
    margin-bottom: 1%
}

header ,main ,footer{
    padding: 0 18% 0 18%;
}

a:hover {
    color: #E27D60;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: #E27D60;    ;
}

.logo {
    font-size: 2rem;
    font-family: inter;
}

.address {
    margin-left: 18%;
    padding-right: 18%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    height: 6rem;
    align-items: center;
    justify-content: center;
}

.sections-of-main {
    display: flex;
    justify-content: center;
    gap: 0.5%;
    height: 2rem;
    margin-top: 4rem;
}

.address > p {
    font-size: 0.65em;
    opacity: 0.3;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.social-media > img {
    width: 15;
    height: 15%;
    display: flex;
    margin: 4%;
}

.social-media > img:nth-child(1) {
    height: 2.5em;
}

/*--services*/
.main--services {
    height: fit-content;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #E6E6E6 68%, white 35% );
    height: auto;
    margin-top: 4rem;
    padding: 3% 18% 3% 18%;
}

.main--services > .information--main {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    padding: 10% 0% 10% 0%;
}

.main--services > .information--main > h2 {
    font-family: 'Libre Franklin';
    padding:3% 10% 3% 10% ;
    font-size: 250%;
    color: #E27D60;
}

.main--services > .information--main > p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 140%;
    line-height: 23px;
    text-align: right;
    padding:0% 10% 0% 0% ;
    opacity: 0.5;
}

.main--services > .information--main > p:nth-child(1) {
    text-transform: uppercase;
    font-weight: lighter;
}

.main--services > .information--main > p:nth-child(3) {
    margin-bottom: 4%;
}

.main--services > .img--main {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 'up-left up-right' 'down down';
    column-gap: 1%;
    row-gap: 1%;
}

.up-left {
    grid-area: up-left;
}

.up-right {
    grid-area: up-right;
}

.down {
    grid-area: down;
}

/*-treatments*/
.treatments--services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.treatments--services p {
    text-transform: uppercase;
    font-weight: lighter;
    font-weight: 300;
}

.p1-gneral-white--about{
    color: white;
    font-size: 16px;
}

.p3-general--about{
    color: #303030;
}

.p3-general-white--about{
    color: white;
}

.p3-general-white--about > span{
    color: #E27D60;
}

.p6-general--about{
    color: #303030;
    font-size: 12px;
}

.h3-general-about{
    color: #E27D60;
    font-size: 36px;
}

.h3-general-black--about{
    color: #303030;
    font-size: 36px;
}

.h3-general-white--about{
    font-size: 36px;
    color: white;
}

.h6-general--about{
    color: #E27D60;
    font-size: 14px;
}

.first--about{
    display: grid;
    text-align: end;
    align-content: center;
    gap: 5%;
}

.second-about{
    display: grid;
    justify-items: center;
    align-content: center;
}

.third--about{
    display: grid;
    align-content: space-evenly;
}

.seventh--about{
    display: grid;
    align-content: space-evenly;
}


.button-third--about{
    background-color: #303030;
    color: white;
    padding: 10px 40px;
    margin: auto;
    border-radius: 2px;
}

.button-nineth--about{
    background-color: #303030;
    color: white;
    padding: 1px 10px;
    border-radius: 2px;
}

.Display-first--about{
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    padding: 3% 18% 3% 18%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #E6E6E6 68%, white 35% );
}

.display-second-about{
    margin-top: 9%;
    padding: 3% 18% 3% 18%;
    gap: 9%;
    display: flex;
    justify-content: center
}

.Display-third--about{
    margin-top: 9%;
    display: flex;
    gap: 10%;
    padding: 3% 18% 3% 19%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #ffffff 35%, #e6e6e6 35%);
}

.Display-fourth-0--about{
    margin-top: 9%;
    display: grid;
    justify-items: center;
}

.Display-fourth--about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgrounnd-fifth--about{
    margin-top: 9%;
    background-image: url(images/portfolio/Rectangle\ 64.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
}

.button-fifht--about{
    background-color: #303030;
    color: white;
    padding: 10px 25px;
    margin: auto;
    border-radius: 2px;

}

.Display-fifht--about{
    display: grid;
    justify-content: center;
}

.button-fifth--about{
    background-color: #303030;
    color: white;
    padding: 10px 40px;
    margin: auto;
    border-radius: 2px;

}

.Display-sixth--about{
    margin-top: 9%;
    display: flex;
    justify-content: center;
    gap: 5%;
    
}

.Display-seventh--about{
    margin-top: 9%;
    display: flex;
    gap: 10%;
}

.Display-eight--about{
    margin-top: 9%;
    display: flex;
    gap: 10%;
}

.Display-nineth--about{
    margin-top: 9%;
    display: flex;
    gap: 10%;
    background-image: url(images/portfolio/Rectangle\ 64\ -1.png);
    background-size: cover;
    background-repeat: repeat;
    justify-content: space-between;
}
